<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="/top/blog/clean-blog.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
   <%include ../../public/header/header %>
    <header class="intro-header" style="background-image: url('/images/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <hr class="small">
                        <span class="subheading">希望这文笔，没辜负那＂寒窗苦读＂的二十余载</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container allcontent">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <% if (blog) {%>
                    <% for(var i in blog) {%>
                        <div class="post-preview">
                            <a href="/singleblog?blogid=<%= blog[i].idfunc() %>">
                                <h2 class="post-title"><%= blog[i].titlefunc() %></h2> 

                                <h4 class="post-subtitle"><%= blog[i].contentfunc().substr(0, 60) %></h3>
                            </a>
                            <p class="post-meta">write by <%= blog[i].authorfunc() %> <span class=createtime>on <%= blog[i].createtimefunc().toLocaleString() %></span></p>
                        </div>
                        <hr>
                    <% } %>
                    <% } else { %>
                        <p>没有任何文章</p>
                <% } %>
<!--                 Pager
<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul> -->
            </div>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <%include ../../public/footer/footer %>

</body>
<script src="/public/lib/seajs-3.0.0/dist/sea.js"></script>
<script>
    // Set configuration
    seajs.config({
        alias: {
            "jquery": "/public/lib/jquery/jquery-seajs.js",
            "jq-trans": "/public/lib/jquery/jq-transision-seajs.js",
            "bootstrap": "/public/lib/bootstrap/js/bootstrap-seajs.js",
            "less": "/public/lib/less.js",
            "easing": "/public/lib/jquery/jquery.easing.seajs.js",
            "header":"/public/header/header-main"
        }
    });
    seajs.use("/top/blog/blog-main");
</script>

</html>
